ul.sidenav {
	list-style-type: none;
	margin: 0;
	background: #333;
	padding: 0;
	width: 15%;
	height: 100% !important;
	overflow: auto;
	position: absolute;
	display: block;
}

ul.sidenav li {
	float: none;
}
ul.sidenav li a{
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 18px 19px;
}
ul.sidenav li a:hover { background: #2f2f2f; }
ul.sidenav li a.active {
	background: #30a85d;
}

div.body-admin {
	margin-left: 15%;
	padding: 20px 26px;
}