.daftar-buku-section{
	padding: 50px;
}
.thumbnail-book{
	text-align: center;
}
.thumbnail-container{
	width: 100%;
	height: 50px;
}
.thumbnail-container img{
	max-height: 100%;
	max-width: 100%;
}
.daftar-buku-section table{
	padding: 10px;
	width: 100%;
}
.daftar-buku-section tbody td{
	padding: 6px;
}
.daftar-buku-section tbody tr:hover{
	background-color: #ddd;
}
.btn-pinjam{
	padding: 8px 20px;
	border-radius: 4px;
	background-color: rgba(52, 180, 215, 1);
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}
.btn-pinjam:hover{
	background-color: rgba(52, 180, 215, 0.7);
}
.search{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}
.search .katalog-filter{
	justify-self: end;
}
.katalog-filter select{
	width: 200px;
	height: 36px;
}
.search .big-search{
	justify-self: end;
}
.big-search input{
	width: 300px;
	height: 30px;
}
.big-search button{
	height: 36px;
	width: 80px;
}
@media(max-width: 768px){
	.big-search input{
		width: 100px;
		height: 30px;
	}
	.katalog-filter label{
		display: none;
	}
}
@media(max-width: 340px){
	.search{
		grid-template-columns: 1fr;
		text-align: center;
		margin: 10px auto;
	}
	.search .katalog-filter{
		justify-self: center;
	}
	.big-search input{
		width: 300px;
		height: 30px;
	}
	.search .big-search{
		margin-top: 8px;
		display: grid;
		grid-template-columns: 1fr;
		justify-self: center;
	}
	.big-search button{
		height: 36px;
		width: 80px;
		margin-top: 8px;
	}
	.daftar-buku-section{
		padding: 5px;
	}
	.search h2{
		font-size: 14px;
	}
	.daftar-buku-section table .hd-xs{
		display: none;
	}
	.btn-pinjam{
		padding: 8px 12px;
	}

}